
/** start variables*/
:root {
  --main_color : #10cab7;
  --secondary_color : #2c4755;
}


/* end variables/*
/*    start global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans",sans-serif;
}
/*end global rules*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 


}
/*small */
@media (min-width:768px){
  .container {
     width: 750px;
  }
}
/*medium*/
@media (min-width:992px){
    .container {
       width: 970px;
    }
  }
  /*large*/
  @media (min-width:1200px){
    .container {
       width: 1170px;
    }
  }
  /*start component */
 .special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
 }
 .special-heading + p {
  margin: -30px 0 0 ;
  font-size: 20px;
  text-align: center;
  color: #797979;
 }
  @media (max-width:767px){
   .special-heading {
    font-size: 60px;
   }
   .special-heading + p {
    margin-top:-20px ;
   }
  }
  /*end component */
  /*    header   */
  /*    header   */
  /*    header   */
  .header {
    padding: 20px;

  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width:50px;
  }
  .header .link {
    position: relative;
  }
  .header .link:hover .icon span:nth-child(2) {
    width: 100px;
  }
  .header .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .link .icon span {
    background-color: black;
    margin-bottom: 5px;
    
  }
  .header .link .icon span:first-child {
     height: 3px;
     width:100%
  }
  .header .link .icon span:nth-child(2) {
    height: 3px;
    width: 60%; 
    transition: 0.3s;
  }
  .header .link .icon span:last-child{
    height: 3px;
    width:100%
    
  }
  .header .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top : calc(100% + 15px);
    display: none;
    z-index: 1;

  }
  .header .link:hover ul {

display: block;
  }
    .header .link ul::before {
     content: "";
     border-width: 10px;
     border-style: solid;
     border-color: transparent transparent #f6f6f6 transparent;
     position: absolute;
     right: 5px;
     top: -20px;
    
  }
  .header .link ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3 s;
  }
  .header .link ul li a:hover {
    padding-left:25px ;
  }
  .header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }

  /*end header */
  /* start landing section */
  /* start landing section */
  .landing {
    background-image:url(../images/lubo-minar-3K6ZkYBj2Xo-unsplash.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

  }
.landing .intro_text {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);
text-align: center;
width: 320px;
max-width: 100%;
}
.landing .intro_text h1 {
margin: 0;
font-weight: bold;
font-size: 50px ;
color: var(--main_color);

}
.landing .intro_text p {

  font-size: 19px;
  line-height: 1.8;

}


  /*end landing section */
  /*end landing section */

  /*start features section*/
  /*start features section*/
   .features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
   }
   .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 20px ;
   }
   .features .feat {
    padding: 20px;
    text-align: center;
   }
   .features .feat i {
    color:var(--main_color);
    
   }
   .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;

   }
   .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
   }

  /*end features section*/
  /*end features section*/
  /*start services section */
  /*start services section */

  .services {
    padding-top: 60px;
    padding-bottom: 60px;  
  }
  .services .services_content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
  }
  .services .services_content .image  img {
    width: 300px;
    height: 400px;
  }
  services .services_content .srv {
    display: flex;
    margin-bottom: 40px;
  }
  @media(max-width: 767px) {
    services .services_content .srv {
      flex-direction: column;
      text-align: center;
    } 
  }
  .services .services_content .srv i {
    color: var(--main_color);
    flex-basis: 60px;
  }
  .services .services_content .srv .text {
    flex: 1;
  }
  .services .services_content .srv .text h3 {
    margin: 0 0 20px ;
  }
  .services .services_content .srv .text p {
    color: #333;
    font-weight: 300;
    line-height: 1.6;
  } 
  .services .services_content  .image {
    text-align: center;
    position: relative;
  }
  .services .services_content  .image:before {
    content: '';
    background-color:var(--secondary_color);
    width: 100px;
    height: calc(100% + 80px ); 
    right: 0;
    top: -10%;
    position: absolute;
    z-index: -1;

  }
  @media (max-width : 1199px) {
    .services .services_content  .image {
      display: none;
    }  
  }


  /*end services section */
  /*end services section */

  /*start portofolio*/
  /*start portofolio*/
.portofolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portofolio .portofolio_content { 
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  grid-gap: 30px;  
  margin-top: 80px;

}
.portofolio .portofolio_content .card img {
  max-width: 100%;
  
}
.portofolio .portofolio_content .card {
  background-color: white;

}
.portofolio .portofolio_content .card .info {
  padding: 20px;
}
.portofolio .portofolio_content .card .info h3 {
  margin: 0;
}
.portofolio .portofolio_content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}





  
  /*end portofolio*/
  /*end portofolio*/